@font-face {
    font-family: silkscreen;
    src: url(/assets/fonts/slkscr.ttf);
}

@font-face {
    font-family: silkscreen;
    src: url(/assets/fonts/slkscrb.ttf);
    font-weight: bold;
}

#petInfo {
    display: none;
}

#petInfo p {
    color: white;
    font-family: silkscreen;
    font-weight: bold;
}

#text {
    color: white;
}